body{
    background: black;
}

.countdown, p{
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
}